<!doctype html>

<!-- cabeçalho -->
<mat-toolbar class="navbar">
    <span class=""><img style="max-width: 32%;"src="assets/logo3.png" ></span>
    <span class="carrinho"></span>
    <img style="margin-right: 2%;" src="assets/usericon.png">
    <img src="assets/carrinhoicon.png">
</mat-toolbar>

<!--Toolbar com produtos-->
<mat-toolbar class="grad">
    <button mat-icon-button class="icon" style="margin-left: 2.5%" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="color: azure;"></span>

    <span class="spacer"></span>
    <button mat-icon-button class="icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    <button mat-icon-button class="icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>

</mat-toolbar>

<!--Body-->
<div>
    <div class="row" style="height: 200px">
        <div class="col-3">...</div>
        <!-- 25% -->
        <div class="col-9">...</div>
        <!-- 75% -->
    </div>
    <div class="row">
        <div class="col-5">...</div>
        <!-- 25% -->
        <div class="col-5">...</div>
        <!-- 75% -->
    </div>


</div>>

<!--Rodapé-->
<mat-toolbar class="rodape">
    <mat-toolbar-row><span></span>
        <span class="spacer"></span>
    </mat-toolbar-row>
    <mat-toolbar-row><span style="font-style:italic; font-size: small; color: aliceblue;">Pagina criada fins academicos</span></mat-toolbar-row>
</mat-toolbar>